.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  top: 64px;

  @media screen and (max-width: 599px) {
    top: 56px;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 10;
}
